.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: minmax(auto, auto);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 18px;
    margin-top: 18px;
}


.lemon-button {
    height: 64px;
    width: 248px;
    align-self: center;
    background-color: #F4CE14;
    border-radius: 16px;
    font-family: Karla;
    font-size: 24px;
    border: none;
}

.heading1 {
    color: #F4CE14;
    font-family: Karla;
    font-size: 60px;
}

.heading2 {
    color: white;
    font-family: Karla;
    font-size: 48px;
    margin-top: -36px;
}

.heading3 {
    color: white;
    font-family: Karla;
    font-size: 24px;
}

.navbar-flexbox-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: .75;
    width: auto;
    font-family: Karla;
    font-size: 24px;
    font-weight: 700;
}

.hero-container {
    display:grid;
    grid-template-columns: repeat(2, auto);
    flex-grow: .75;
    min-height: 250px;
    justify-content: space-evenly;
    background-color: #495E57;
    height: 450px;
}

.hero-container-text {
    width: 350px;
    justify-self: start;
    color:white;
    font-family: Karla;
}

.hero-container-img {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.highlights-special-flex-container {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 2fr 1fr;
}

.testimonials-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 2fr 1fr;
}


.highlight-container {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    height: 600px;
    column-gap: 48px;
    justify-content: center;
}

.highlight-container-card {
    height: 475px;
    width: 100;
    background-color: #EDEFEE;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.highlight-container-card-text {
    padding-left: 30px;
    padding-right: 30px;
}

.h5-highlight-container-card-text {
    color: #797979;
}


.testimonial-container {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    height: 500px;
    column-gap: 48px;
    align-items: center;
    justify-content: center;
    background-color: #495E57;
}

.testimonial-container-card {
    height: 300px;
    width: 100;
    background-color: #EDEFEE;
    border-radius: 8px;
}

.cx-testimonial-info {
    display: flex;
    flex-direction: row;
    width: 100;
    justify-content: space-evenly;
    margin-top: 8px;
}

.cx-testimonial-picture {
    border-radius: 100px;
    width: 80px;
}

.cx-testimonial-name {
    justify-self: center;
    align-self: center;
}


.testimonial-container-card-text {
    padding-left: 30px;
    padding-right: 30px;
}

.h4-tetimonial-container-card-text {
    padding-left: 10px;
    padding-right: 10px;

}

.h5-tetimonial-container-card-text {
    color: #797979;
    padding-left: 10px;
    padding-right: 10px;
}

.about-container {
    display:grid;
    grid-template-columns: repeat(2, auto);
    flex-grow: .75;
    height: 50rem;
    justify-content: space-evenly;
    background-color: #495E57;
}

.about-container-text {
    width: 350px;
    justify-self: start;
    color:white;
    font-family: Karla;
}

.about-container-img {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.footer-flexbox-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: .75;
    min-height: 200px;
    margin-top: 24px;
}

.footer-info-boxes {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-self: start;
}

.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70rem;
}

.signup-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-form-name-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50rem;
}

.signup-form-label {
   display: flex;
   justify-content: center;
   vertical-align: center;
   align-items: center;
   margin-top: 1.5rem;
   font-family: Karla;
   font-size: 1.25rem;
   font-weight: 700;
}

.signup-form-name-input {
    width: 20rem;
    height: 2rem;
    background-color: rgb(247, 247, 247);
    border: solid #535353 0.01rem;
    border-radius: .5rem;
    padding-left: 0.725rem;
    padding-right: 0.725rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-family: Karla;
    font-size: 1.25rem;
}

.signup-form-input {
    width: 22rem;
    height: 2rem;
    background-color: rgb(247, 247, 247);
    border: solid #535353 0.01rem;
    border-radius: .5rem;
    padding-left: 0.725rem;
    padding-right: 0.725rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-family: Karla;
    font-size: 1.25rem;
}

.signup-submit-button {
    height: 3rem;
    width: 10rem;
    align-self: center;
    background-color: #F4CE14;
    border-radius: 16px;
    font-family: Karla;
    font-size: 24px;
    border: none;
    margin-top: 2rem;
    border: solid #1a1a1a 0.1rem;
    border-radius: .5rem;
}




.booking-box {
    background-color: rgb(27, 121, 121);
    height: 50rem;
    justify-content: center;
}

.contact-page-textside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.contact-page-texbox {
    height: 16rem;
    width: 32rem;
    background-color: #EDEFEE;
    border-radius: 8px;
    padding: 1rem;
}
